<div class="panel panel-default">
	<div class="panel-body">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat lectus et nulla tincidunt fringilla. Vestibulum pellentesque purus nisl, a rhoncus neque pulvinar eget. Praesent massa ante, euismod vitae rhoncus eu, euismod ut orci. Aenean enim tellus, convallis ornare augue et, luctus rhoncus ligula.</p>
	</div>
</div>